body{
	background-color: rgb(244,244,244);
}
li,p,a,h1,h2,h3,h4,h5,h6{
	font-family:'Microsoft Yahei' !important;
}
a.gray{
	color: gray;
}
h1.title{
	font-style:bold;
	text-align:center;
}
h3.subtitle{
	font-family:'Microsoft Yahei' !important;
	text-align:center;
	color:#999999;
}
h5.signature{
	font-family:'Microsoft Yahei' !important;
	text-align:right;
	color:#999999;
	margin-right:20%;
}
